<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Sniper</string>
		<key>type</key>
		<string>敏捷</string>
		<key>bio</key>
		<string>卡德尔·鹰眼出生在诺伦山脉的山谷中，这里的住民从太古以来就靠猎杀居住在村庄上方悬崖上的一种奇怪生物为生，他们从远距离杀死这种叫峭壁潜行兽的生物，然后收集他们掉下来的尸体。鹰眼是这些怪异住民中其中最棒的射手之一，对他来说，枪械是他身体的一部分，射击就和触摸一样自然。在征召之日，他即将在村庄中获得完全的地位时，他经历了古老的考验：从谷底一击射下一头悬崖上的潜行兽。打空则是耻辱。在全体村民的注视下，鹰眼射击了。一头潜行兽掉下来了；人群欢呼了。但当尸体被收起时，整个村子都沉默了，长老发现子弹穿过了潜行兽中间的眼睛后，紧紧的卡在了它的下颚骨中。这个凶兆正是黑暗预言的开端所描述的，按预言中所说，射出这发子弹的枪手将成为伟大的人，但也将被流放。狙击手鹰眼因此离开了他的人民，被他自己的技术所诅咒，在剩下的预言实现前不得回来，他必须成为战场上的传说。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Lina</string>
		<key>type</key>
		<string>智力</string>
		<key>bio</key>
		<string>秀逗魔导士莉娜和她妹妹水晶室女莉莱从小就合不来，她们从童年开始就你来我往的争斗成为了当地人津津乐道的传奇故事。莉娜总是占上风，如果说水晶室女的天性纯良而诚实，那么莉娜则是火爆中带着放纵和聪慧。在两人分别用冰和火毁掉了一大半房子以后，她们气急败坏的父母终于意识到两人必须分开。作为姐姐，莉娜被送到了遥远的南方，纷争之国的燃烧沙漠，和她有耐心的姑妈一起生活，这里的气候对这位火爆的魔导士来说其实更舒服。她的到来让一潭死水的当地泛起了不小的涟漪，许多男人试图追求她，最后却拖着烧焦的手指头或者只剩半边的眉毛以及被摧毁的自信心狼狈离开。莉娜非常自信且骄傲，没有任何事物能抑制她的火焰。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pudge</string>
		<key>type</key>
		<string>力量</string>
		<key>bio</key>
		<string>在与囚尸岭南部遥遥相望的戮尽之地，一个肥胖的身影在夜晚不知疲倦地工作着——肢解、开膛、堆积死人的四肢和内脏，一切都是为了在黎明前把战场打扫干净。在这片被诅咒的地方，尸体不会腐烂和分解，虽然不会复活，但无论坟墓挖的有多深，它们都不会回归大地。屠夫帕吉的身边总是围绕着一群食腐鸟类，他为它们切好大小能够塞进鸟嘴的肉块，时间久了，他的技术也越来越成熟。嗖嗖嗖...嗖嗖嗖...唰...肉块就从骨头上掉下来，肌腱和韧带像湿纸一样被剥离。帕吉的兴趣在一开始只是屠宰，但时间一长，他对食尸也产生了兴趣。刚开始时只是这里吃一小块肉，那里小嗫一口血...但很快他就开始了自己的饕餮盛举，即使是躯干上最硬的部位他也像狗啃着骨头一样，津津有味地品尝。就算是面对死神都毫无惧色的猛士，看到屠夫，也是异常恐惧。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Razor</string>
		<key>type</key>
		<string>敏捷</string>
		<key>bio</key>
		<string>闪电幽魂-剃刀，是永劫之墟中最有代表性的可怕力量。他鞭打着闪电巡回在狭窄迷宫中，这是一个区分死者灵魂的迷宫，他们要靠生前的智慧、精明和毅力来通过其中变化莫测的网络通道。剃刀飘浮于迷宫上方，俯视着那些迷茫不前的灵魂，用闪电鞭打他们赶快前进去决定他们的命运，朝向光明的出口或者黑暗的地狱。剃刀是支配力量的永恒化身，他使用力量时残忍而客观。但他贵族般的气势暗示了他对工作那讽刺的满足。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Faceless</string>
		<key>type</key>
		<string>敏捷</string>
		<key>bio</key>
		<string>暗惧者虚空假面是来自超维视界的一名访客，一个时间之外的境域。这个来自其他维度的存在，坚信为复仇之石的争斗值得它降临我们物质位面的原因，依然是个迷，但显然它对这个世界平衡力扰乱的后果已经反映到了相邻的维度。时间对暗惧者毫无意义，除了作为一种阻挠敌人并帮助盟友的手段。它那长远的宇宙视角赐予它悠久却不相关的特技，但没关系，在战场上它完全能随心施展这些能力。</string>
	</dict>
</array>
</plist>
